---
name: Add issues to project board

on:
  issues:
    types:
      - opened
  pull_request_target:
    types:
      - opened

jobs:
  add-issue-to-project:
    runs-on: ubuntu-slim
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/add-to-project@fc1f4d5abb1562679c33f38faf171f5cfc81c969 # v0
        with:
          project-token: ${{ secrets.PROJECT_PAT }}
