---
name: Documentation

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  documentation:
    runs-on: ubuntu-slim
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/python/pdoc@9822515992aee280c44e631a99730f6e3cc3eba8 # v0
        with:
          docs-dependency-section: docs
          gh-pages-publish-directory: ./html/example_package
          github-token: ${{ secrets.GITHUB_TOKEN }}
          project-directory: ./src/example_package
          pyproject-toml: ./pyproject.toml
          python-version: "3.14"
          template-directory: ./documentation
