---
name: Test

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        include:
          - os: macos-latest
            python-version: "3.14"
          - os: windows-latest
            python-version: "3.14"
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/python/uv@2900a170a05fafa6d18c036e488235ae8c02fa59 # v0
        with:
          pyproject-toml: ./pyproject.toml
          python-version: ${{ matrix.python-version }}
